body{
    min-width:320px;
    /*width:320px;*/
    /*margin:0 auto;*/
}
/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/

.container{
    min-width:320px;
    max-width:1174px;
    margin:0 auto;
}


header{
    height:463px;
    background:url("../images/sm-photo.jpg") 50% 0 no-repeat;
    background-size:cover;
    font-family: 'Raleway', sans-serif;
    font-weight:normal;
}

header h1{
    float:left;
    margin:0;
}

header h1 a{
    background:#f26c4f url("../images/logo.png") 50% 50% no-repeat;
    display:inline-block;
    height:70px;
    width:70px;
    background-size:22px;
}

nav{
    float:right;
    position:relative;
}

nav button {
    position: relative;
    width:70px;
    height:70px;
    background:#1ac7c3;
    border:none;

}

nav button i{
    width:17px;
    height:2px;
    background:#fff;
    position:absolute;
    top:50%;
    left:50%;
    margin:-1px 0 0 -8px;

}

nav button i::before{
    content:'';
    width:17px;
    height:2px;
    background:#fff;
    position:absolute;
    top:4px;
    left:0;
}

nav button i::after{
    content:'';
    width:17px;
    height:2px;
    background:#fff;
    position:absolute;
    top:-4px;
    left:0;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
    position:absolute;
    top:70px;
    right:0;
    white-space:nowrap;
    background:#1ac7c3;
    display:none;
}

.sub-nav li a {
    text-decoration:none;
    display:block;
    color:#fff;
    font-size:16px;
    padding:10px 120px 10px 5px;
    border-bottom:1px solid #fff;
    text-transform:uppercase;
    font-weight:600;
}

.sub-nav li:last-child a {
    border-bottom:none;
}

nav:hover ul{
    display:block;
}

section .column_1{
    padding:30px;
}

section .column_1 h2 a {
    text-decoration:none;
    font-size:38px;
    font-family:'Raleway', sans-serif;
    color:#153f60;
    font-weight:normal;
    text-transform:uppercase;
}

section .column_1 p{
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
    color:#153f60;
    font-weight:normal;
}

section .column_2{
    padding:30px;
    background:#1ac7c3;
}

section .column_2 h2 a {
    text-decoration:none;
    color:#fff;
    font-size:30px;
    font-weight:normal;
    font-family: 'Open Sans', sans-serif;
    text-transform:uppercase;
}

section .column_2 p{
    font-style:italic;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
    color:#fff;
}

footer {
    background:#f26c4f;
    padding:30px;
    overflow:hidden;
}

footer h2 {
    font-family: 'Raleway', sans-serif;
    font-weight:500;
    text-transform: uppercase;
    color:#fff;
}

footer p {
    font-family: 'Open Sans', sans-serif;
    font-weight:normal;
    color:#fff;
    font-size:14px;
    width:83%;
}

footer a {
    display:block;
    text-decoration:none;
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    font-size:17px;
    text-transform:uppercase;
    color:#f26c4f;
    background:#fff;
    padding:20px 100px;
    margin:20px 0 0 0;
    width:87%;
}